Repository jeafio/jeaf: changes, and which Codecov flags are due for each by the changed paths.
All: jeafio-jeaf, jeafio-cache, jeafio-cli, jeafio-connect, jeafio-data, jeafio-dicontainer, jeafio-http, jeafio-logger, jeafio-profile, jeafio-repository, jeafio-transformer, jeafio-validate

codecov.yml:

flags:
  jeafio-jeaf:
    carryforward: true
    paths:
      - packages/jeafio-jeaf/
  jeafio-cache:
    carryforward: true
    paths:
      - packages/jeafio-cache/
  jeafio-cli:
    carryforward: true
    paths:
      - packages/jeafio-cli/
  jeafio-connect:
    carryforward: true
    paths:
      - packages/jeafio-connect/
  jeafio-data:
    carryforward: true
    paths:
      - packages/jeafio-data/
  jeafio-dicontainer:
    carryforward: true
    paths:
      - packages/jeafio-dicontainer/
  jeafio-http:
    carryforward: true
    paths:
      - packages/jeafio-http/
  jeafio-logger:
    carryforward: true
    paths:
      - packages/jeafio-logger/
  jeafio-profile:
    carryforward: true
    paths:
      - packages/jeafio-profile/
  jeafio-repository:
    carryforward: true
    paths:
      - packages/jeafio-repository/
  jeafio-transformer:
    carryforward: true
    paths:
      - packages/jeafio-transformer/
  jeafio-validate:
    carryforward: true
    paths:
      - packages/jeafio-validate/

fixed tests
  packages/jeafio-transformer/README.md
Due: jeafio-transformer

fixed tests
  packages/jeafio-data/README.md
  packages/jeafio-dicontainer/README.md
Due: jeafio-data, jeafio-dicontainer

implemented doubly linked list
  packages/jeafio-data/src/datastructures/DLLNode.ts
  packages/jeafio-data/src/datastructures/DoublyLinkedList.test.ts
  packages/jeafio-data/src/datastructures/DoublyLinkedList.ts
Due: jeafio-data

implemented LRU cache
  .idea/codeStyles/Project.xml
  packages/jeafio-cache/index.ts
  packages/jeafio-cache/src/Cache.ts
  packages/jeafio-cache/src/LRUCache.test.ts
  packages/jeafio-cache/src/LRUCache.ts
  packages/jeafio-cache/src/Memoize.test.ts
  packages/jeafio-cache/src/Memoize.ts
  packages/jeafio-data/index.ts
  packages/jeafio-data/src/datastructures/DoublyLinkedList.test.ts
  packages/jeafio-data/src/datastructures/DoublyLinkedList.ts
Due: jeafio-cache, jeafio-data

triggered build for all
  packages/jeafio-cache/README.md
  packages/jeafio-cli/README.md
  packages/jeafio-connect/README.md
  packages/jeafio-data/README.md
  packages/jeafio-dicontainer/README.md
  packages/jeafio-http/README.md
  packages/jeafio-jeaf/README.md
  packages/jeafio-logger/README.md
  packages/jeafio-profile/README.md
  packages/jeafio-repository/README.md
  packages/jeafio-transformer/README.md
  packages/jeafio-validate/README.md
Due: jeafio-jeaf, jeafio-cache, jeafio-cli, jeafio-connect, jeafio-data, jeafio-dicontainer, jeafio-http, jeafio-logger, jeafio-profile, jeafio-repository, jeafio-transformer, jeafio-validate

normalized http messages
  packages/jeafio-connect/dev/index.html
  packages/jeafio-connect/dev/index.ts
  packages/jeafio-connect/index.ts
  packages/jeafio-connect/package.json
  packages/jeafio-connect/src/Connect.test.ts
  packages/jeafio-connect/src/Connect.ts
  packages/jeafio-connect/src/ConnectConfig.ts
  packages/jeafio-connect/src/ConnectRequestConfig.ts
  packages/jeafio-connect/src/functions/buildHttpRequest.ts
  packages/jeafio-connect/src/functions/getClassConfig.test.ts
  packages/jeafio-connect/src/functions/getClassConfig.ts
  packages/jeafio-connect/src/functions/getRequestConfig.test.ts
  packages/jeafio-connect/src/functions/getRequestConfig.ts
  packages/jeafio-connect/webpack.config.js
  packages/jeafio-http/index.ts
  packages/jeafio-http/src/HTTPIncomingRequest.ts
  packages/jeafio-http/src/HTTPMessage.test.ts
  packages/jeafio-http/src/HTTPMessage.ts
  packages/jeafio-http/src/HTTPRequest.test.ts
  packages/jeafio-http/src/HTTPRequest.ts
  packages/jeafio-http/src/HTTPRequestHandler.ts
  packages/jeafio-http/src/HTTPRequestInterceptor.ts
  packages/jeafio-http/src/HTTPResponse.test.ts
  packages/jeafio-http/src/HTTPResponse.ts
  packages/jeafio-http/src/HTTPResponseInterceptor.ts
  packages/jeafio-http/src/HTTPRouter.test.ts
  packages/jeafio-http/src/HTTPRouter.ts
  packages/jeafio-http/src/HTTPServer.ts
Due: jeafio-connect, jeafio-http

normalized http messages
  packages/jeafio-connect/dev/index.ts
  packages/jeafio-connect/src/Connect.ts
  packages/jeafio-connect/src/ConnectRequest.ts
  packages/jeafio-connect/src/RequestInterceptor.ts
  packages/jeafio-connect/src/ResponseInterceptor.ts
  packages/jeafio-connect/src/functions/buildPath.test.ts
  packages/jeafio-connect/src/functions/buildPath.ts
  packages/jeafio-connect/src/functions/makeRequest.test.ts
  packages/jeafio-connect/src/functions/makeRequest.ts
  packages/jeafio-http/index.ts
  packages/jeafio-http/src/HTTPRequest.test.ts
  packages/jeafio-http/src/HTTPRequest.ts
Due: jeafio-connect, jeafio-http

normalized http messages
  packages/jeafio-connect/index.ts
  packages/jeafio-connect/src/Connect.ts
  packages/jeafio-connect/src/functions/makeRequest.ts
  packages/jeafio-http/src/HTTPCookie.test.ts
  packages/jeafio-http/src/HTTPCookie.ts
  packages/jeafio-http/src/HTTPIncomingResponse.ts
  packages/jeafio-http/src/HTTPRequest.test.ts
Due: jeafio-connect, jeafio-http

normalized http messages
  .github/workflows/jeafio-connect.yml
  packages/jeafio-connect/README.md
Due: jeafio-connect

fixed tests for http module
  packages/jeafio-http/src/HTTPCookie.test.ts
  packages/jeafio-http/src/HTTPCookie.ts
  packages/jeafio-http/src/HTTPIncomingResponse.test.ts
  packages/jeafio-http/src/HTTPIncomingResponse.ts
  packages/jeafio-http/src/HTTPRequest.test.ts
  packages/jeafio-http/tests/fixtures/IncomingMessageFixture.ts
  packages/jeafio-http/tests/util/MockedMessage.ts
Due: jeafio-http

fixed tests for connect module
  packages/jeafio-connect/dev/index.ts
  packages/jeafio-connect/src/Connect.test.ts
  packages/jeafio-connect/src/Connect.ts
  packages/jeafio-connect/src/ConnectRequest.test.ts
  packages/jeafio-connect/src/RequestInterceptor.ts
  packages/jeafio-connect/src/ResponseInterceptor.ts
  packages/jeafio-connect/src/functions/makeRequest.test.ts
  packages/jeafio-connect/src/functions/makeRequest.ts
  packages/jeafio-connect/tests/fixtures/IncomingMessageFixture.ts
  packages/jeafio-connect/tests/util/MockedMessage.ts
  yarn.lock
Due: jeafio-connect

added basic profile
  packages/jeafio-profile/dev/dev.ts
  packages/jeafio-profile/dev/profiles/application.local.yml
  packages/jeafio-profile/dev/profiles/application.yml
  packages/jeafio-profile/index.ts
  packages/jeafio-profile/src/Profile.test.ts
  packages/jeafio-profile/src/Profile.ts
  packages/jeafio-profile/src/decorator/Value.test.ts
  packages/jeafio-profile/src/decorator/Value.ts
  packages/jeafio-profile/src/functions/transformName.test.ts
  packages/jeafio-profile/src/functions/transformName.ts
Due: jeafio-profile
